header {
    background-color:#ffcccc;
}
#wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#main {
  width: 70%;
  background-color:#ccffcc;
}

#menu {
  width: 30%;
  background-color:#ccccff;
}
footer{
    background-color:#ffccff;
}